<div class="inner-component">
    <mat-horizontal-stepper linear="true" #stepper style="background-color: rgb(201, 209, 209);">
        <mat-step [stepControl]="preselection">
            <form [formGroup]="preselection">
                <ng-template matStepLabel>{{dictionaryService.get('PRS')}}</ng-template>
                <div style="display: flex; flex-direction: column; height: 60vh;">
                    <div style="flex:1;">
                        <div style="display: inline-block;">
                            <div style="display: block; width: 50%; padding: 10px;">

                                <mat-button-toggle-group value="private" (change)="changeCustomerType($event)">
                                    <mat-button-toggle value="private">{{ dictionaryService.get('PRV') }}
                                    </mat-button-toggle>
                                    <mat-button-toggle value="commercial">{{ dictionaryService.get('COM') }}
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div style="display: block; width: 50%; padding: 10px;">
                                <mat-button-toggle-group value="debit" (change)="changeDebCreType($event)">
                                    <mat-button-toggle value="debit">{{ dictionaryService.get('DEB') }}
                                    </mat-button-toggle>
                                    <mat-button-toggle value="credit">{{ dictionaryService.get('KRE') }}
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>

                        </div>

                        <div *ngIf="preselection.get('customerType').value === 'commercial'" style="padding: 10px;">
                            <mat-form-field appearance="outline" color="accent">
                                <mat-label>{{dictionaryService.get('LEF')}}</mat-label>
                                <mat-select formControlName="legalForm" required>
                                    <mat-option *ngFor="let form of legalForms" [value]="form">
                                        {{form.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="stepper-controls">
                        <button mat-raised-button matStepperNext
                            #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                    </div>
                </div>


            </form>
        </mat-step>

        <mat-step [stepControl]="contactInformation" label="Fill out your address">
            <form [formGroup]="contactInformation">
                <ng-template matStepLabel>{{dictionaryService.get('CND')}}</ng-template>
                <div style="display: flex; flex-direction: column; height: 60vh;">
                    <div style="flex:1;">

                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="company" required>
                        </mat-form-field>

                    </div>
                    <div class="stepper-controls">
                        <button mat-raised-button matStepperPrevious
                            #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                        <button mat-raised-button matStepperNext
                            #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div class="stepper-controls">
                <button mat-raised-button matStepperPrevious
                    #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                <button mat-raised-button (click)="stepper.reset()"
                    #StepperControlButton>{{dictionaryService.get('RST')}}</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>