.mat-button-toggle {
  width: 120px;
}

.mat-raised-button{
    margin-left:10px;
}

.padding10px{
  padding: 10px;
}

.paddinglr10px{
  padding-left: 10px;
  padding-right: 10px;
}

mat-form-field {
  width: 100%;
}