<div class="inner-component">
    <div class="stepper-container">
        <mat-horizontal-stepper linear="false" #stepper>
            <mat-step [stepControl]="preselection">
                <form [formGroup]="preselection">
                    <ng-template matStepLabel>{{dictionaryService.get('PRS')}}</ng-template>
                    <div class="vertical-flex">
                        <div class="stepper-data">
                            <div style="display: inline-block;">
                                <div class="padding10px" style="display: block;">
                                    <mat-button-toggle-group value="debit" (change)="changeDebCreType($event)">
                                        <mat-button-toggle value="debit">{{ dictionaryService.get('DEB') }}
                                        </mat-button-toggle>
                                        <mat-button-toggle value="credit">{{ dictionaryService.get('KRE') }}
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                                <div class="padding10px" style="display: block;">
                                    <mat-button-toggle-group value="person" (change)="changeCustomerType($event)">
                                        <mat-button-toggle value="person">{{ dictionaryService.get('PRS') }}
                                        </mat-button-toggle>
                                        <mat-button-toggle value="organization">{{ dictionaryService.get('COM') }}
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-space"></div>
                        <div class="stepper-controls">
                            <button mat-raised-button matStepperNext
                                #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <!--mat-step for debit person and credit person-->
            <mat-step *ngIf="this.preselection.get('customerType').value === 'person'"
                [stepControl]="contactInformation">
                <form [formGroup]="contactInformation">
                    <ng-template matStepLabel>{{dictionaryService.get('CND')}}</ng-template>
                    <div class="vertical-flex">
                        <div style="display: flex;">

                            <div class="stepper-data">

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline" color="accent">
                                            <mat-label>{{dictionaryService.get('LEF')}}</mat-label>
                                            <mat-select formControlName="legalForm" required>
                                                <mat-option *ngFor="let form of legalForms" [value]="form">
                                                    {{form.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('SSN')}}</mat-label>
                                            <input matInput formControlName="interfaceNumber">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline" color="accent">
                                            <mat-label>{{dictionaryService.get('SAL')}}</mat-label>
                                            <mat-select formControlName="salutation" required>
                                                <mat-option *ngFor="let salutation of salutations" [value]="salutation">
                                                    {{salutation.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline" color="accent">
                                            <mat-label>{{dictionaryService.get('TLE')}}</mat-label>
                                            <mat-select formControlName="title">
                                                <mat-option *ngFor="let title of titles" [value]="title">
                                                    {{title.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('FNA')}}</mat-label>
                                            <input matInput formControlName="firstName" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('SNA')}}</mat-label>
                                            <input matInput formControlName="secondName" required>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('ANI')}}</mat-label>
                                            <input matInput formControlName="additionalName">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label>{{dictionaryService.get('BRT')}}</mat-label>
                                            <input matInput [matDatepicker]="birthDate" formControlName="birthDate"
                                                required>
                                            <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                                            <mat-datepicker #birthDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!--
                            <div>

                                <div class="padding10px">
                                    <mat-label>{{dictionaryService.get('NIF')}}</mat-label>
                                    <mat-divider></mat-divider>
                                </div>
                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('ORG')}}</mat-label>
                                            <input matInput formControlName="organisation" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('ANI')}}</mat-label>
                                            <input matInput formControlName="additionalInformation">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="padding10px">
                                    <mat-label>{{dictionaryService.get('ADR')}}</mat-label>
                                    <mat-divider></mat-divider>
                                </div>
              
                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 25% ">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('ZIP')}}</mat-label>
                                            <input matInput formControlName="zip" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 75%">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('LOC')}}</mat-label>
                                            <input matInput formControlName="location" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="paddinglr10px" style="display: flex;">
                                    <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                                        <mat-label>{{dictionaryService.get('COU')}}</mat-label>
                                        <mat-select formControlName="location" required>
                                            <mat-option *ngFor="let location of locations" [value]="location">
                                                {{location.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="padding10px">
                                    <mat-label>{{dictionaryService.get('CON')}}</mat-label>
                                    <mat-divider></mat-divider>
                                </div>
                                
                            </div>
                            -->
                            </div>
                            <mat-divider vertical style="height:100%"></mat-divider>
                            <div class="stepper-data">

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('STR')}}</mat-label>
                                            <input matInput formControlName="street" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 20%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('HNU')}}</mat-label>
                                            <input matInput formControlName="houseNumber" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('MBX')}}</mat-label>
                                            <input matInput formControlName="mailbox">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('MBP')}}</mat-label>
                                            <input matInput formControlName="zipMailbox">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 25% ">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('ZIP')}}</mat-label>
                                            <input matInput formControlName="zip" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 75%">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('LOC')}}</mat-label>
                                            <input matInput formControlName="location" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="display: flex;">

                                    <div class="paddinglr10px" style="width: 100%">

                                        <mat-form-field appearance="outline" color="accent">
                                            <mat-label>{{dictionaryService.get('COU')}}</mat-label>
                                            <mat-select formControlName="location" required>
                                                <mat-option *ngFor="let location of locations" [value]="location">
                                                    {{location.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('TEL')}}</mat-label>
                                            <input matInput formControlName="phone">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('FAX')}}</mat-label>
                                            <input matInput formControlName="fax">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('MOB')}}</mat-label>
                                            <input matInput formControlName="mobilePhone">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('EMA')}}</mat-label>
                                            <input matInput formControlName="email" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="vertical-space"></div>
                        <div class="stepper-controls">
                            <button mat-raised-button matStepperPrevious
                                #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                            <button mat-raised-button matStepperNext
                                #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <!--
            <mat-step [stepControl]="employee">
                <form [formGroup]="employee">
                    <ng-template matStepLabel>{{dictionaryService.get('EMP')}}</ng-template>
                    <div class="vertical-flex">
                        <
                        <div class="stepper-data">
                            <div *ngIf="preselection.get('customerType').value === 'organization'">

                                <div class="padding10px">
                                    <mat-label>{{dictionaryService.get('EMN')}}</mat-label>
                                    <mat-divider></mat-divider>
                                </div>
                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline" color="accent" style="width: 240px;">
                                            <mat-label>{{dictionaryService.get('TLE')}}</mat-label>
                                            <mat-select formControlName="title">
                                                <mat-option *ngFor="let title of titles" [value]="title">
                                                    {{title.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline" color="accent" style="width: 240px;">
                                            <mat-label>{{dictionaryService.get('SAL')}}</mat-label>
                                            <mat-select formControlName="salutation">
                                                <mat-option *ngFor="let salutation of salutations" [value]="salutation">
                                                    {{salutation.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('FNA')}}</mat-label>
                                            <input matInput formControlName="firstName" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('SNA')}}</mat-label>
                                            <input matInput formControlName="secondName" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="padding10px">
                                    <mat-label>{{dictionaryService.get('EMC')}}</mat-label>
                                    <mat-divider></mat-divider>
                                </div>
                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('TEL')}}</mat-label>
                                            <input matInput formControlName="phone">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('FAX')}}</mat-label>
                                            <input matInput formControlName="fax">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="display: flex;">
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('MOB')}}</mat-label>
                                            <input matInput formControlName="mobilePhone">
                                        </mat-form-field>
                                    </div>
                                    <div class="paddinglr10px" style="width: 50%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{dictionaryService.get('EMA')}}</mat-label>
                                            <input matInput formControlName="email" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="vertical-space"></div>
                        <div class="stepper-controls">
                            <button mat-raised-button matStepperPrevious
                                #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                            <button mat-raised-button matStepperNext
                                #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                        </div>
                    </div>

                </form>
            </mat-step>
        -->
            <!--
            <mat-step [stepControl]="organization">
                <form [formGroup]="organization">
                    <ng-template matStepLabel>{{dictionaryService.get('COM')}}</ng-template>
                    <div class="vertical-flex">

                        <div class="stepper-data">

                        </div>
                        <div class="vertical-space"></div>
                        <div class="stepper-controls">
                            <button mat-raised-button matStepperPrevious
                                #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                            <button mat-raised-button matStepperNext
                                #StepperControlButton>{{dictionaryService.get('NXT')}}</button>
                        </div>
                    </div>

                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="vertical-flex">

                    <div class="stepper-data">

                    </div>
                    <div class="vertical-space"></div>
                    <div class="stepper-controls">
                        <button mat-raised-button matStepperPrevious
                            #StepperControlButton>{{dictionaryService.get('BCK')}}</button>
                        <button mat-raised-button (click)="openSendSOAPDialog()"
                            #StepperControlButton>{{dictionaryService.get('SND')}}</button>
                    </div>
                </div>
            </mat-step>
            -->
        </mat-horizontal-stepper>
    </div>
</div>