<mat-toolbar style="background-color: #009650;">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="authService.isLoggedIn()" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="padding-left:10px;">
      <span class="mat-h2" style="color:white; cursor: pointer;" (click)="reset()">WEB-ISO</span>
    </div>
    <div *ngIf="authService.isLoggedIn()" style="padding-left:10px;">
      <span class="mat-h2">
        {{storageService.getCustomerTypeName()}} - {{storageService.getDebitCreditTypeName()}}
      </span>
    </div>
    <span class="space"></span>

    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
              aria-controls="dropdown-animated" style="background: transparent;">
              <span class="mat-h3">
                {{dictionaryService.get('HELLO')}}{{authService.getUser().username}}! 
              </span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" style="visibility: hidden;"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else
          here</a></li>
      </ul>
    </div>   

    <button mat-raised-button (click)="reset()" style="margin-left: 20px;">
      <mat-icon>replay</mat-icon>
    </button>
    <button mat-raised-button (click)="dictionaryService.switchLanguage()"
      style="margin-left: 10px;">{{dictionaryService.currentLanguage}}</button>


  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 200px;">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/preselection'" (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon> &nbsp;
        {{ dictionaryService.get('NEWCUS') }}
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/settings'" (click)="sidenav.toggle()">
        <mat-icon>settings</mat-icon> &nbsp;
        {{ dictionaryService.get('SETTINGS') }}
      </a>
      <mat-divider></mat-divider>
      <a *ngIf="authService.getUser()?.role == 'ADMIN'" mat-list-item [routerLink]="'/admin'"
        (click)="sidenav.toggle()">
        <mat-icon>build</mat-icon> &nbsp;
        {{ dictionaryService.get('ADMINAREA') }}
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout(); sidenav.toggle()">
        <mat-icon>logout</mat-icon> &nbsp;
        {{ dictionaryService.get('LOGOUT') }}
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: calc(100vh - 64px);">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>