<mat-toolbar style="background-color: #009650;">
  <mat-toolbar-row>
    <button mat-icon-button [style.visibility]="this.storageService.isLoggedIn ? 'visible' : 'hidden'" [disabled]="!this.storageService.isLoggedIn">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div style="padding-left:10px;">
      <h1 style="color:white; cursor: pointer;" (click)="reset()">WEB-ISO</h1>
    </div>
    <div style="padding-left:10px;">
      <h3>
        {{storageService.getCustomerTypeName()}} - {{storageService.getDebitCreditTypeName()}}
      </h3>
    </div>
    <span class="space"></span>
    <button mat-raised-button (click)="reset()">
      <mat-icon>replay</mat-icon>
    </button>
    <button mat-raised-button (click)="dictionaryService.switchLanguage()"
      style="margin-left: 10px;">{{dictionaryService.currentLanguage}}</button>


  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 200px;">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/preselection'" (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon> &nbsp;
        {{ dictionaryService.get('NCU') }} 
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/settings'" (click)="sidenav.toggle()">
        <mat-icon>settings</mat-icon> &nbsp;
        {{ dictionaryService.get('SET') }} 
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout();sidenav.toggle();">
        <mat-icon>logout</mat-icon> &nbsp; 
        {{ dictionaryService.get('LOT') }}
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: calc(100vh - 64px);">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>