//like baywa.com
.mat-toolbar {
    height:  60px;
}

mat-toolbar-row {
    display: flex;
}

mat-sidenav {
    width: 250px !important;
}

.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 0;
  }

.mat-list-base {
    padding: 0;
}

