<div class="alternate-theme" style="width: 700px;">
    <h1 mat-dialog-title>{{dictionaryService.get('NEWACC')}}</h1>

    <div class="flex-column rounded-border">
        <form [formGroup]="registerForm" class="alternate-theme">
            <div style="display: flex;">
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('USRNAME')}}</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngFor="let errorType of registerFormControl.username.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('USRNAME', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('EMAIL')}}</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngFor="let errorType of registerFormControl.email.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('EMAIL', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="display: flex;">
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('FNAME')}}</mat-label>
                        <input matInput formControlName="firstName" required>
                        <mat-error *ngFor="let errorType of registerFormControl.firstName.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('FNAME', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('SNAME')}}</mat-label>
                        <input matInput formControlName="secondName" required>
                        <mat-error *ngFor="let errorType of registerFormControl.secondName.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('SNAME', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="display: flex;">
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('TEL')}}</mat-label>
                        <input matInput formControlName="phone">
                        <mat-error *ngFor="let errorType of registerFormControl.phone.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('TEL', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('MOB')}}</mat-label>
                        <input matInput formControlName="mobile">
                        <mat-error *ngFor="let errorType of registerFormControl.mobile.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('MOB', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="display: flex;">
                <div class="padding10px" style="width: 50%;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('COMCODE')}}</mat-label>
                        <mat-select formControlName="companyCode" required>
                            <mat-option *ngFor="let field of listService.companyCodes" [value]="field">
                                {{field.details}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let errorType of  registerFormControl.companyCode.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('COMCODE', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div style="width: 50%; padding: 20px 0 0 10px;">
                        <mat-radio-group (change)="changeAccountType($event)" style="display: flex; flex-direction: column;">
                            <mat-radio-button class="example-radio-button" value="USER" checked>
                                {{ dictionaryService.get('USR') }}
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="ADMIN">
                                {{ dictionaryService.get('ADM') }}
                            </mat-radio-button>
                        </mat-radio-group>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions align="center" style="padding-top: 20px;">
        <div class="form-controls buttons-theme">
            <span class="space"></span>
            <button mat-raised-button (click)="register()" color="primary"
                style="height: 40px; ">{{dictionaryService.get('CREATE')}}</button>
            <button mat-stroked-button style="height: 40px; margin-left: 10px;"
                (click)="close()">{{dictionaryService.get('CAN')}}</button>
            <span class="space"></span>
        </div>
    </div>
</div>