<div class="inner-component">
    <mat-card class="card">
        <mat-card-title class="padding10px">{{dictionaryService.get('PRESEL')}}</mat-card-title>
        <mat-card-content align="center">
            <div class="padding10px toggle-theme">
                <mat-button-toggle-group value="debit" (change)="changeDebitCreditType($event)">
                    <mat-button-toggle value="debit">{{ dictionaryService.get('DEB') }}
                    </mat-button-toggle>
                    <mat-button-toggle value="credit">{{ dictionaryService.get('CRE') }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="padding10px toggle-theme">
                <mat-button-toggle-group value="person" (change)="changeCustomerType($event)">
                    <mat-button-toggle value="person">{{ dictionaryService.get('PER') }}
                    </mat-button-toggle>
                    <mat-button-toggle value="organization">{{ dictionaryService.get('ORG') }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="paddinglr10px buttons-theme" style="display: flex; padding-bottom: 10px; padding-top: 10px;">
                <span class="space"></span>
                <button mat-stroked-button (click)="onGenerateMask()" style="height: 46px; width: 50%;">
                    <mat-icon style="margin-right: 5px;">assignment</mat-icon>
                    <span>{{dictionaryService.get('GENMSK')}}</span>
                </button>
                <span class="space"></span>
            </div>

        </mat-card-content>
    </mat-card>
</div>