.card{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(236, 236, 236);
}

.mat-button-toggle {
    width: 120px;
  }