@import '~@angular/material/theming';
@include mat-core();

$mat-baywa-primary: (
    50 : #55bb8b,
    100: #000000,   

    contrast: (
        50 : #000000,
    )
);

$mat-baywa-accent: (
    50 : #cecece,
    100: #f0f0f0,
    200: #000000,
    300: #d3d3d3,
    
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-baywa-warn: (
    50 : #ff0000,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$alternate-primary: mat-palette($mat-baywa-primary, 100, 50);
$alternate-accent:  mat-palette($mat-baywa-accent, 200);
$alternate-warn:  mat-palette($mat-baywa-warn, 50);

$alternate-theme: mat-light-theme(
  $alternate-primary,
  $alternate-accent,
  $alternate-warn
);

$buttons-primary: mat-palette($mat-baywa-primary, 50, 50);
$buttons-accent:  mat-palette($mat-baywa-accent, 50);
$buttons-warn:  mat-palette($mat-baywa-warn, 50);

$buttons-theme: mat-light-theme(
  $buttons-primary,
  $buttons-accent,
  $buttons-warn
);

$toggle-theme: mat-light-theme($buttons-accent, $buttons-primary);


@mixin mix-toggle-theme($toggle-theme) {
  $primary: map-get($toggle-theme, primary);
  $accent: map-get($toggle-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);