.alternate-theme .mat-step-header .mat-step-icon {
  background-color: rgb(177, 177, 177);
}

.alternate-theme .mat-step-header .mat-step-icon-done {
  background-color:  #55bb8b;
}

.alternate-theme .mat-step-header .mat-step-icon-selected {
  background-color:  #55bb8b;
}

mat-chip {
  width: 200px;
}