.mat-button-toggle {
  width: 120px;
}

.mat-raised-button {
  margin-left: 10px;
}

.mat-step-header .mat-step-icon {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #4be69d;
  color: black;
}
