<h1 mat-dialog-title style="text-align:center;">{{dictionaryService.get('PRS')}}</h1>
<div mat-dialog-content>

    <div class="padding10px" style="display: block;">
        <mat-button-toggle-group value="debit" (change)="changeDebitCreditType($event)">
            <mat-button-toggle value="debit">{{ dictionaryService.get('DEB') }}
            </mat-button-toggle>
            <mat-button-toggle value="credit">{{ dictionaryService.get('KRE') }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="padding10px" style="display: block;">
        <mat-button-toggle-group value="person" (change)="changeCustomerType($event)">
            <mat-button-toggle value="person">{{ dictionaryService.get('PER') }}
            </mat-button-toggle>
            <mat-button-toggle value="organization">{{ dictionaryService.get('COM') }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div mat-dialog-actions align="center" style="padding-top: 10px;">
    <div style="display: inline-block; padding-right: 5px;">
        <button mat-raised-button (click)="onYesClick()">{{dictionaryService.get('MGE')}}</button>
    </div>

</div>