::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: black!important;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black!important;
  }
  
  .mat-input-element {
    caret-color: black!important;
  }
  
  