<div class="inner-component">
    <mat-card class="card">
        <mat-card-title style="padding: 10px 0 0 10px;">{{dictionaryService.get('LOG')}}</mat-card-title>
        <mat-card-content align="center" style="width: 350px;">
            <form [formGroup]="loginForm" class="alternate-theme">

                <div class="paddinglr10px" style="margin-top:20px;">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('EUN')}}</mat-label>
                        <input matInput formControlName="identifier" required (keyup.enter)="login()">
                        <mat-error *ngFor="let errorType of loginFormControl.identifier.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('EUN', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="paddinglr10px">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>{{dictionaryService.get('PSW')}}</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required
                            (keyup.enter)="login()">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngFor="let errorType of loginFormControl.password.errors | keyvalue;">
                            <mat-icon style="margin-right: 5px;">error</mat-icon>
                            {{errorMessageService.getError('PSW', errorType.key)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="padding10px buttons-theme" style="display: flex;">
                    <button mat-stroked-button style="height: 40px;"
                        (click)="register()">{{dictionaryService.get('NAC')}}</button>
                    <span class="space"></span>
                    <button mat-raised-button (click)="login()" color="primary"
                        style="height: 40px;">{{dictionaryService.get('NXT')}}</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>