<!--<div class="login-background">

    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="emailForm" required>
                <mat-error *ngIf="emailForm.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </mat-card-content>
    </mat-card>
</div>-->