.login-background {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-card {
    width: 300px;           
    height: 200px;          
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;    
    margin-left: -150px;    
}