<div class="inner-component">
    <div class="form-vertical-flex">
        <div class="flex-column">
            <div class="form-title">
                <span class="mat-h2">{{dictionaryService.get('ACC')}}</span>
            </div>
            <div class="flex-row bottom-border top-border">
                <div class="flex-column right-border" style="width: 240px;">
                    <div class="flex-row settings-button bottom-border" matRipple (click)="setting = 1">
                        <div class="mat-h3 button-text">{{dictionaryService.get('ACCSET')}} </div>
                        <div class="space"></div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                    <div class="flex-row settings-button" matRipple (click)="setting = 2">
                        <div class="mat-h3 button-text">{{dictionaryService.get('SECSET')}} </div>
                        <div class="space"></div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                </div>
                <div class="settings-window">

                    <div class="form-data" *ngIf="setting == 1">
                        <form [formGroup]="accountForm" class="alternate-theme">
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline" disabled>
                                    <mat-label>{{dictionaryService.get('USRNAME')}}</mat-label>
                                    <input matInput formControlName="username" required>
                                    <mat-error *ngFor="let errorType of accountFormControl.username.errors | keyvalue;">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{errorMessageService.getError('USRNAME', errorType.key)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline" disabled>
                                    <mat-label>{{dictionaryService.get('EMAIL')}}</mat-label>
                                    <input matInput formControlName="email" required>
                                    <mat-error *ngFor="let errorType of accountFormControl.email.errors | keyvalue;">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{errorMessageService.getError('EMAIL', errorType.key)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>{{dictionaryService.get('COMCODE')}}</mat-label>
                                    <mat-select formControlName="companyCode" required [(ngModel)]="selected">
                                        <mat-option *ngFor="let field of listService.companyCodes" [value]="field.code">
                                            {{field.details}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngFor="let errorType of  accountFormControl.companyCode.errors | keyvalue;">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{errorMessageService.getError('COMCODE', errorType.key)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div class="form-data" *ngIf="setting == 2">
                        <form [formGroup]="passwordForm" class="alternate-theme">
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>{{dictionaryService.get('PSWDOLD')}}</mat-label>
                                    <input matInput formControlName="passwordOld" [type]="hide0 ? 'password' : 'text'"
                                        required (keyup.enter)="change()">
                                    <button type="button" mat-icon-button matSuffix (click)="hide0 = !hide0;">
                                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngFor="let errorType of passwordFormControl.passwordOld.errors | keyvalue;">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{errorMessageService.getError('PSWDOLD', errorType.key)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>{{dictionaryService.get('PSWD')}}</mat-label>
                                    <input matInput formControlName="password" [type]="hide1 ? 'password' : 'text'"
                                        required (keyup.enter)="change()">
                                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1;">
                                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngFor="let errorType of passwordFormControl.password.errors | keyvalue;">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{errorMessageService.getError('PSWD', errorType.key)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="paddinglr10px">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>{{dictionaryService.get('PSWDCONF')}}</mat-label>
                                    <input matInput formControlName="confirmPassword"
                                        [type]="hide2 ? 'password' : 'text'" required (keyup.enter)="change()">
                                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2;">
                                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngFor="let errorType of passwordFormControl.confirmPassword.errors | keyvalue;">
                                        <mat-icon *ngIf="errorType.key != 'mustMatch'" style="margin-right: 5px;">
                                            error
                                        </mat-icon>
                                        {{errorMessageService.getError('PSWDCONF', errorType.key)}}
                                    </mat-error>
                                    <mat-error
                                        [style.visibility]="passwordFormControl.confirmPassword.errors?.mustMatch ? 'visible' : 'hidden'">
                                        <mat-icon style="margin-right: 5px;">error</mat-icon>
                                        {{dictionaryService.get('PSWDNMATCH')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div class="form-controls buttons-theme">
                <span class="space"></span>
                <button class="button" mat-raised-button (click)="change()" color="primary"
                    style="height: 40px; margin-left: 10px;">{{dictionaryService.get('APPLY')}}</button>
            </div>
        </div>
    </div>
</div>