<div class="inner-component">
    <div class="form-vertical-flex">
        <div class="flex-column" style="padding-left: 15px;">
            <div class="alternate-theme">
                <div class="form-title">
                    <span class="mat-h2">{{dictionaryService.get('ADMINAREA')}}</span>
                </div>
                <div class="search-part">
                    <mat-form-field color="primary" appearance="outline" style="flex: 2;">
                        <mat-label>{{dictionaryService.get('SEARCH')}}</mat-label>
                        <input matInput [formControl]="filter">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <button mat-stroked-button (click)="newAccount()" style="height: 60px; top: -5px; flex: 1;">
                        {{dictionaryService.get('NEWACC')}}
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-stroked-button (click)="accordion.openAll()" style="height: 60px; top: -5px; flex: 1;">
                        {{dictionaryService.get('EXPAND')}}
                        <mat-icon>unfold_more</mat-icon>
                    </button>
                    <button mat-stroked-button (click)="accordion.closeAll()" style="height: 60px; top: -5px; flex: 1;">
                        {{dictionaryService.get('COLLAPSE')}}
                        <mat-icon>unfold_less</mat-icon>
                    </button>
                </div>

                <div class="form-data paddinglr10px rounded-border"
                    style="width: 800px; background-color: rgb(235, 235, 235);">
                    <mat-accordion #accordion="matAccordion" multi>
                        <mat-expansion-panel *ngFor="let account of filteredAccounts" style="padding: 5px; margin-top: 10px;"
                            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>{{dictionaryService.get('USRNAME')}}:</span> &nbsp;
                                    <span>{{account.username}}</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div class="space" style="text-align: center;">
                                        <span style="color: rgb(179, 9, 9);"
                                            *ngIf="account.blocked">{{dictionaryService.get('BLOCKED')}}</span>
                                    </div>
                                    <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div style="padding-left: 20px;">
                                <p><span class="body-1">{{dictionaryService.get('EMAIL')}}: {{account.email}}</span></p>
                                <p><span class="body-1">{{dictionaryService.get('COMCODE')}}:
                                        {{companyCodeDetails[account.companyCode]}}</span></p>
                                <p><span class="body-1">{{dictionaryService.get('ROLE')}}: {{account.role}}</span></p>
                            </div>

                            <mat-action-row *ngIf="account.role !== 'ADMIN'">
                                <button mat-stroked-button style="color: rgb(179, 9, 9);" (click)="deleteAccount(account)">
                                    <mat-icon inline=true style="margin-right: 5px;">delete</mat-icon>
                                    {{dictionaryService.get('DELUSR')}}
                                </button>
                                <button mat-stroked-button color="primary" (click)="blockAccount(account)"
                                    style="width: 185px;">
                                    <mat-icon *ngIf="!account.blocked" inline=true style="margin-right: 5px;">block
                                    </mat-icon>
                                    <span *ngIf="!account.blocked">{{dictionaryService.get('BLOCKUSR')}}</span>
                                    <mat-icon *ngIf="account.blocked" inline=true style="margin-right: 5px;">done
                                    </mat-icon>
                                    <span *ngIf="account.blocked">{{dictionaryService.get('UNBLOCKUSR')}}</span>
                                </button>
                                <button mat-stroked-button color="primary" (click)="resetPassword(account)">
                                    <mat-icon inline=true style="margin-right: 5px;">replay</mat-icon>
                                    {{dictionaryService.get('RESETPSWD')}}
                                </button>
                            </mat-action-row>
                        </mat-expansion-panel>

                    </mat-accordion>

                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
</div>